<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/cosmic-ray-illustration.jpg" alt="" title="Credit: NSF/J. Yang">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>THE BACKGROUND</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In the early twentieth century, following the discovery of radioactivity, physicists observed radiation all around them.
                                      They concluded that the particles were produced by radioactive elements in the earth.
                                      However, in 1912, <a href="https://en.wikipedia.org/wiki/Victor_Francis_Hess">Victor Hess</a> got into a hot-air balloon with a radiation detector and demonstrated that the farther away from the surface of the earth you were the greater was the observed radiation. The <a href="https://en.wikipedia.org/wiki/Cosmic_ray">cosmic origin of these particles</a> was revealed!
                                    </p>
                                    <p class="text-muted">
                                      Physicists can learn a lot about our Universe and the laws governing it by studying these particle showers.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/challenger-space-shuttle.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>THE CHALLENGE</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">With some not-too-sophisticated apparatus, you and I can observe cosmic rays in our homes and schools, and perform both basic and advanced analysis on them.
                                      There are a whole <a href="https://indico.cern.ch/event/99542/page/5191-represented-projects">host of cosmic-ray projects</a> around the world, and some upcoming include <a href="http://cosmicpi.org/">CosmicPi</a> and <a href="http://crayfis.io/">CRAYFIS</a>.
                                      However, with a proliferation of projects comes a proliferation of data types, formats and schemas.
                                      An inter-operable data format specification would greatly advance the cause of cosmic-ray research by allowing researchers and citizen scientists to analyse data from diverse sources.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4> THE GOAL(S)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Open Cosmics is meant to foster conversation and collaboration.
                                      We want to bring together the many cosmic-ray projects to discuss their scope and needs.
                                      By understanding the data that each project is collecting, we hope to figure out the minimal data structure needed for cross-compatibility.
                                      Open Cosmics is evaluating several data formats, such as <a href="http://fits.gsfc.nasa.gov/">FITS</a> and <code>.ig</code>.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <a href="#"><div class="timeline-image class btn">
                                <h4>Visit
                                    <br>Our Blog</h4>
                            </div></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
